*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(-225deg, #0a2239 0, #53a2be 29%,#1d84b5 67%,#2a2239 100%);
    background-size:  500% 500%;
    animation: animação 15s linear infinite;
}

@keyframes animação {
    50%{
        background-position:  100% 100%;
    }
    
}

.container {
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
}

#novatarefa {
    position: relative;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#novatarefa input {
    width: 70%;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}

#novatarefa input:focus {
    outline: none;
    border-color: #53a2be;

}

#novatarefa button {
    float: right;
    position: relative;
    width: 26%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #228a85;
    border: none;
    color:#fff;
    cursor: pointer;
    
}

#tarefas {
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    position: relative;
}

.tarefa {
    background-color: #fff;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
}   

.tarefa span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.tarefa button {
    background-color: rgb(184, 9, 9);
    color: #fff;
    height: 100%;
    width: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.completo {
    text-decoration: line-through;
}